<% layout('layouts/notAuthorized') -%>
<div class="text-center w-75 m-auto">
    <a>
        <span><img src="<%= siteUrl %>/logo.png" alt="<%= siteTitle %>" style="height: 60px; width: auto"></span>
    </a>
    <p class="text-muted mb-4 mt-3">Enter your email address and password to access admin panel.</p>
</div>
<form id="loginForm" method="post">
    <div class="form-group mb-3">
        <label>Email address</label>
        <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off">
        <div class="text-danger email"></div>
    </div>
    <div class="form-group mb-3">
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="off">
        <div class="text-danger password"></div>
    </div>
    <div class="form-group mb-0 text-center">
        <input id="timeZone" type="hidden" name="timeZone">
        <button id="submitLoginForm" class="btn btn-primary btn-block" type="submit"> Log In</button>
    </div>
</form>

<!-- <div class="row mt-3">
    <div class="col-12 text-left" style="margin-top: -15px">
        <p> <a class="ml-1" href="/auth/forgot-password">Forgot your password?</a></p>
    </div>
</div> -->

<script>
    $(document).ready(function () {
        $('#timeZone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);

        const ADMIN_LOGIN_FORM = <%- JSON.stringify(DM('ADMIN_LOGIN_FORM')) %>;
        $("#loginForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#submitLoginForm').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
                email: {
                    required: true,
                    minlength: 3,
                    maxlength: 80,
                    pattern: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                },
                password: {
                    required: true
                }
            },
            messages: ADMIN_LOGIN_FORM
        });
    })
</script>
