<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
</head>

<body class="authentication-bg authentication-bg-pattern">
   

    
    
</body>

</html>


<script>
    
    window.onload = function() {
        let url =  "telemedicine://telemedicine?screen=cmeDetails&cmeId=<%= _id %>"
        window.location = url;

        setTimeout( function(){
            let userAgent = navigator.userAgent || navigator.vendor || window.opera;
            
            if (userAgent.includes("Android")) {
                window.location.replace("https://play.google.com/store/apps/details?id=com.telemed.referral");
            } else if (userAgent.includes("iPhone")) {
                window.location.replace("https://itunes.apple.com/us/app/apple-store/id1611731146?mt=8");
            } else {
                
                window.location.replace("https://www.telemedreferral.com/");
            }

            //https://itunes.apple.com/us/app/apple-store/id1611731146?mt=8
            //https://play.google.com/store/apps/details?id=com.telemed.referral

        }, 3000);

        
    }


 </script>



<script>
    
        /*window.onload = function() {
            let url =  "telemedicine://telemedicine?screen=cmeDetails&cmeId=<%= _id %>"

            
            window.location.href  = url;
        
            //console.log("err",err)
            const userAgent = navigator.userAgent.toLowerCase();

            let platform = "android"

            if (/android/.test(userAgent)) {
                //console.log('Android');
            } else if (/iphone|ipad|ipod/.test(userAgent)) {
                //console.log('iOS');
                platform = ios
            } else {
                //console.log('Other');
            }
            //console.log({platform});
            let redirectUrl = "https://play.google.com/store/apps/details?id=com.telemed.referral"
            if( platform=='ios' ){
                redirectUrl = "https://itunes.apple.com/us/app/apple-store/id1611731146?mt=8"
            }

            setTimeout(function() {
                window.location = redirectUrl;
            }, 3000);
        }*/

        /*let platform = "<%= platform %>"
        let redirectUrl = "https://play.google.com/store/apps/details?id=com.telemed.referral"
        if( platform=='ios' ){
            redirectUrl = "https://apps.apple.com/app/telemedreferral/id1611731146"
        }

        
        }*/


 </script>