<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Twilio Video Demo</title>
    <script src="/videocall/twilio-video.min.js"></script>
</head>

<script>
</script>

<body>
    <form id="room-name-form">
        <input name="room_name" id="room-name-input" value="<%= webinar._id %>" />
    </form>
    <div id="video-container"></div>
    <script src="/videocall/main.js"></script>
</body>

</html> -->
