<% layout('../layouts/admin') -%>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/faqs">FAQ</a></li>
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">View</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">View</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label>QUESTION: </label> <%= faq.question ? faq.question : '' %>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group mb-3">
                            <label>Answer: </label> <%= faq.answer ? faq.answer : '' %>
                        </div>
                    </div>
 
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Created at: </label> <%= showDateTimeZone(faq.created) %>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group mb-3">
                            <label>Status: </label> <%- faq.isSuspended ? '<span class="badge label-table badge-secondary">In-Active</span>' : '<span class="badge label-table badge-success">Active</span>' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('.faqsPages').addClass('active');
    });
</script>