<!-- footer-section start -->
<footer class="footer-area">
    <div class="container">
        <div class="footer-bottom row align-items-center justify-content-between">
            <p class="footer-text m-0">
                Copyright © 2023 All rights reserved
                
                <img src="/img/21972-312_SOC_NonCPA.png" height="51" alt="img"/>
                <img class="footer-logo" src="/img/pci-dss.png" alt="img"/>
				<img class="footer-logo" src="/img/hipaa.png" alt="img"/>
            </p>
            <ul class="social-link">
                <li><a href="https://www.facebook.com/TelemedReferral" target="new"><img class="facebok"
                                src="/img/facebook.svg" alt="image not found"></a></li>
                    <li><a href="https://twitter.com/TelemedReferral" target="new"><img src="/img/twitter2.svg"
                                alt="image not found"></a></li>
                    <li><a href="https://www.linkedin.com/company/telemedreferral" target="new"><img
                                src="/img/linkdin.svg" alt="image not found"></a></li>
                                
            </ul>
        </div>
    </div>
</footer>
<!-- footer-section end -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-09YCW5GRZN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-09YCW5GRZN');
</script>