<!-- header-section start -->
<header id="header" class="white-header ">
    <button type="button" id="mobile-nav-toggle"><i class="fas fa-bars"></i></button>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="https://www.telemedreferral.com/"><img src="/img/telemed_logo.svg" alt="" title=""></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                    <li><a href="https://www.telemedreferral.com/faq.html" class="">FAQs</a></li>
                    <li><a href="https://www.telemedreferral.com/about.html" class="aboutus">About Us</a></li>
                    <li><a href="/" class="active" style="color: #00b7dd !important;">Blog</a></li>
                    <li><a href="https://www.telemedreferral.com/terms.html" class="">T&C</a></li>
                    <li><a href="https://www.telemedreferral.com/privacy.html" class="privacypolicy">Privacy Policy</a></li>
                    <li><a href="https://www.telemedreferral.com/cancellation.html" class="privacypolicy ">Cancellation Policy</a></li>
                    <li><a href="https://www.telemedreferral.com/index.html?page=contact" class="btn btn-primary model-btn">Contact Form</a></li>
                    <li style="padding-left: 10px;"><a href="https://webinar.telemedreferral.com" class="nav-login-btn">Login</a></li>

                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- header-section end -->