<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TelemedReferral: Blog</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">

</head>

<body>
    <% include ./header %>
    <%- body %>
    <% include ./footer %>
    <% include ./scripts %>
    <nav id="mobile-nav">
        <ul class="">
            <!-- <li><a href="about.html" class="aboutus active">About Us</a></li>
            <li><a href="index.html#why" class="whyUs">Why Us</a></li>
            <li><a href="index.html#contact" class="contactUs">Contact US</a></li>
            <li><a href="terms.html" class="termandcondition ">Terms and Conditions</a></li>
            <li><a href="privacy.html" class="privacypolicy">Privacy Policy</a></li>
            <li><a href="cancellation.html" class="privacypolicy ">Cancellation Policy</a></li> -->

            <li><a href="https://www.telemedreferral.com/faq.html">FAQs</a></li>
            <li><a href="https://www.telemedreferral.com/about.html">About Us</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="https://www.telemedreferral.com/terms.html">Terms and Conditions</a></li>
            <li><a href="https://www.telemedreferral.com/privacy.html">Privacy Policy</a></li>
            <li><a href="https://www.telemedreferral.com/cancellation.html">Cancellation Policy</a></li>
            <li><a href="https://webinar.telemedreferral.com">Login</a></li>


        </ul>
    </nav>
    <div id="mobile-body-overly"></div>
</body>

</html>
