<div class="left-side-menu">
    <div class="slimscroll-menu">
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li>
                    <a href="/">
                        <i class="fe-airplay"></i>
                        <span>Dashboard </span>
                    </a>
                </li>
                
                

                <li>
                    <a href="javascript: void(0);" aria-expanded="false">
                        <i class="fe-users"></i>
                        <span> Users </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level collapse" aria-expanded="false">
                        <li>
                            <a href="/users/add">Add</a>
                        </li>
                        <li>
                            <a href="/users">List</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/appointments" class="appointmentsManager">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Appointments</span>
                    </a>
                </li>
                <li>
                    <a href="/report" class="staticPages">
                        <i class="fa fa-list-alt"></i>
                        <span>Reports </span>
                    </a>
                </li>
                <li>
                    <a href="/cme" class="webinarCme">
                        <i class="fas fa-link"></i>
                        <span>CME (Webinar) </span>
                    </a>
                </li>

                <li>
                    <a href="/documents" class="documents">
                        <i class="fas fa-list"></i>
                        <span>Master Schedule </span>
                    </a>
                </li>

                <li>
                    <a href="/calls" class="calls">
                        <i class="fas fa-list"></i>
                        <span>Direct Call </span>
                    </a>
                </li>
                <li>
                    <a href="/referral" class="calls">
                        <i class="fas fa-list"></i>
                        <span>Patient Referral </span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>