<% layout('layouts/notAuthorized') -%>
<div class="text-center w-75 m-auto">
    <a>
        <span><img src="<%= siteUrl %>/logo.png" alt="<%= siteTitle %>" style="height: 60px; width: auto"></span>
    </a>
    <p class="text-muted mb-4 mt-3">Enter your email address and we'll send you an email with instructions to reset your password.</p>
</div>
<form id="forgotForm" method="post">
    <div class="form-group mb-3">
        <label>Email address</label>
        <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="off">
        <div class="text-danger email"></div>
    </div>
    
    <div class="form-group mb-0 text-center">
        <button id="submitForgotForm" class="btn btn-primary btn-block" type="submit"> Reset Password</button>
    </div>
</form>

<div class="row mt-3">
    <div class="col-12 text-center">
        <p> <a class="ml-1" href="/auth/log-in">Login</a></p>
    </div>
</div>

<script>
    $(document).ready(function () {
        const ADMIN_FORGOT_PASSWORD_FORM = <%- JSON.stringify(DM('ADMIN_FORGOT_PASSWORD_FORM')) %>;
        $("#forgotForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#submitForgotForm').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
                email: {
                    required: true,
                    minlength: 3,
                    maxlength: 80,
                    pattern: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                }
            },
            messages: ADMIN_FORGOT_PASSWORD_FORM
        });
    })
</script>
