<% layout('layouts/notAuthorized') -%>
<div class="text-center w-75 m-auto">
    <a>
        <span><img src="<%= siteUrl %>/logo.png" alt="<%= siteTitle %>" style="height: 60px; width: auto"></span>
    </a>
    <p class="text-muted mb-4 mt-3"></p>
</div>
<form id="passwordUpdateForm" method="post">
    <div class="form-group">
        <label class="label">OTP<span style="color: red !important;">*</span></label>
        <input type="number" class="form-control" placeholder="OTP" name="otp" autocomplete="off">
        <div class="text-danger otp"></div>
    </div>
    <div class="form-group">
        <label class="label">Password<span style="color: red !important;">*</span></label>
        <input type="password" class="form-control" placeholder="Password" name="newPassword"
               autocomplete="off">
        <div class="text-danger newPassword"></div>
    </div>

    <div class="form-group mb-0 text-center">
        <button type="submit" id="submitPasswordUpdateForm" class="btn btn-primary submit-btn btn-block">Submit</button>
    </div>

</form>

<script>
    $(document).ready(function () {
        const ADMIN_RESET_PASSWORD_FORM = <%- JSON.stringify(DM('ADMIN_RESET_PASSWORD_FORM')) %>;
        $("#passwordUpdateForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function (form) {
                $('#submitPasswordUpdateForm').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
                otp: {
                    required: true,
                    pattern: /^[\d]{4}$/
                },
                newPassword: {
                    required: true,
                    pattern: /^(?=.*?[A-Z])(?=(.*[a-z])+)(?=(.*[\d])+)(?=(.*[\W])+)(?!.*\s).{8,}$/
                }
            },
            messages: ADMIN_RESET_PASSWORD_FORM
        });
    })
</script>
