<div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-4">
		<h3 class="text-center mb-5">Welcome to Tele-Medicine</h3>

		<figure>
			<blockquote class="blockquote">
				<p>Phasellus fermentum enim ut quam molestie aliquam. .</p>
			</blockquote>
			<figcaption class="blockquote-footer">
				Donec non risus nec 
			</figcaption>
		</figure>
		
		<div class="d-grid mt-4">
			<div class="form-text text-center">Duis eu leo id nisl porta blandit. In porttitor, odio ac auctor ornare, sapien mi semper justo .</div>
		</div>
	</div>
</div>